@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mainContainer {
  position: relative; /* Ensure the pseudo-element is positioned relative to the container */
  background-image: url('/images/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mainContainer::before {
  content: ""; /* Required for the pseudo-element to show */
  position: absolute; /* Position it over the container */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black with 60% opacity */
  z-index: 1; /* Ensure it's above the background but below the content */
}

/* Ensure that content inside .mainContainer is positioned above the overlay */
.mainContainer > * {
  position: relative;
  z-index: 2;
}

